
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
  <%- include('header'); %>
  <li><a href="/list">メニュー一覧</a></li>

</head>
<body>
  <main>
    <ul class="cart">
      <% cart.forEach((omusubi) => { %>
        <% if (omusubi.number > 0) { %>
          <li>     
            <name><%= omusubi.name %></name> 
            <price><%= omusubi.price %>円</price>
            <num>× <%= omusubi.number %></num>
            <subtotal>= <%= omusubi.price*omusubi.number %>円</subtotal>
            <form action="/cart" method="post">
              <button type="submit" name="deletingOmusubi" value= <%- omusubi.name %>>
                カートから削除
              </button>
            </form>
          </li>
          <% } %>
        <% }) %>
    </ul>
 
  </main>
  
</body>
</html>