
<head>
  <meta charset="UTF-8">
  <title>Cart</title>
  <%- include('header'); %>
  <li><a href="/list">メニュー一覧</a></li>

</head>
<body>
  <main>
    <ul class="omusubilist">
      <% cart.forEach((omusubi) => { %>
        <li>
          <% if (omusubi[2] > 0) {%>
            <name><%= omusubi[0] %></name> 
            <price><%= omusubi[1] %>円</price>
            <num>× <%= omusubi[2] %></num>
            <subtotal>= <%= omusubi[1]*omusubi[2] %>円</subtotal>
            <form action="/cart" method="post">
              <button type="submit" name="deletingOmusubi" value= <%- omusubi[0] %>>
                カートから削除
              </button>
            </form>
          <% } %> 
        </li>
        <% }) %>
    </ul>
 
  </main>
  
</body>
</html>