
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <%- include('header'); %>
  <li><a href="/cart">カートへ</a></li>
</head>
<body>
  <main>
    <ul class="omusubilist">
      <% omusubilist.forEach((omusubi) => { %>
        <li>
          <% if (omusubi.type === '期間限定') {%>
            <i>期間限定</i> 
          <% }else{ %> 
            <i>定番</i> 
            <%} %>           
          <name><%= omusubi.name %></name>
          <price><%= omusubi.price %>円</price>
          <% if (omusubi.stock < 1) {%>
            <i>売り切れ</i> 
          <% }else{ %> 
            <i>残数<%= omusubi.stock %></i> 
            <form action="/list" method="post">
              <button type="submit" name="buyingOmusubi" value= <%- omusubi.name %>>カートに追加</button>
            </form>
          <%} %>   
        </li>
        <% }) %>
    </ul>
  </main>
  
</body>
</html>
